<aside class="bg-white text-gray-800 h-full">
  <!-- Container luar (box) -->
  <div class="rounded-lg h-full">
    <!-- Container dalam dengan padding -->
    <div class="p-10">
      <!-- Clock -->
      <div id="clock" class="text-center text-lg font-semibold mb-4 text-gray-800 bg-gray-100 p-2 rounded-lg"></div>
      <script>
        function updateClock() {
          const now = new Date();
          const timeString = now.toLocaleTimeString();
          document.getElementById('clock').textContent = timeString;
        }
        updateClock();
        setInterval(updateClock, 1000);
      </script>

      <!-- Profile Picture & Info -->
      <div class="flex items-center">
        <% if (user.foto) { %>
          <img src="data:image/jpeg;base64,<%= userLogin.foto.toString('base64') %>" 
               alt="User Photo" 
               class="w-10 h-10 rounded-full object-cover">
        <% } else { %>
          <img src="https://via.placeholder.com/64" 
               alt="Default Photo" 
               class="w-10 h-10 rounded-full object-cover">
        <% } %>
        <div class="ml-3">
          <% 
            let nameParts = userLogin.fullname.split(' ');
            let displayName = nameParts[0];
            if(nameParts.length > 1) {
              displayName += " " + nameParts[1].charAt(0).toUpperCase() + ".";
            }
          %>
          <p class="font-regular text-sm text-gray-800"><%= displayName %></p>
          <p class="text-xs font-regular text-gray-400"><%= userLogin.jabatan %></p>
        </div>
      </div>
    </div>
  </div>
</aside>